* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #000000;
}
header {
    background: #fbcb77;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.logo img {
    width: 290px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}




/* Estilo para centralizar o texto */
h1, a {
    text-align: center; /* Centraliza os títulos */
    padding-left: 0;  /* Remove o recuo do texto */
}

/* Estilo para o link com centralização */
a {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: #2980b9;
    text-decoration: none;
    font-weight: normal;
    display: block; /* Trata o link como bloco para permitir centralização */
    margin: 0 auto; /* Centraliza o link */
    width: fit-content; /* Ajusta a largura do link ao conteúdo */
}

a:hover {
    color: #e74c3c;
    text-decoration: underline;
}

/* Estilo para centralizar as imagens */
.container, .container2 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

img {
    display: block;
    margin: 0 auto;
}




footer {
    background: #fbcb77;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 180px;
}